<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/add-news">Update 24X7 Admin</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a class="nav-link" routerLink="/add-news">NewsForm</a>
    </li>
    <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a class="nav-link" routerLink="/news-list">EditNews</a>
    </li>
      </ul>
  
      <!--<ul class="navbar-nav ">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Welcome!<span class="sr-only">(current)</span>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" routerLink="/trackOrder">Track Order</a>
            <a class="dropdown-item" routerLink="/profile">Profile</a>
            <a class="dropdown-item" routerLink="/settings">Settings</a>
          </div>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" [(ngModel)]="search_item" #search="ngModel"  name =" search" type="search" placeholder="Search" >
        <button class="btn btn-outline-success my-2 my-sm-0" type="button" >Search</button>
      </form>-->
      <ul class="navbar-nav ">
        <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
          <a class="nav-link" routerLink="/">User View</a>
        </li>
              <li class="nav-item">
          <a class="nav-link" (click)="logOut()">LogOut</a>
        </li> 
      </ul>
    </div>
  </nav>
