<body>
  <app-nav-bar></app-nav-bar>
  <section id="header" class="jumbotron text-center">
    <h1 class="display-3">SPORTS</h1>
    <p class="lead">The latest in sports, right here.</p>
  </section>

  <section id="gallery">
    <div class="d-flex justify-content-center">
      <div class="card-deck-wrapper">
        <div class="card-deck">
          <div *ngFor="let d of data">
            <div
              class="card card-inverse card-success text-center col-xs-6 col-sm-4 col-md-6 col-lg-4 col-xl-2"
              style="min-width: 28rem; width: 30rem"
            >
              <div class="card-block">
                <blockquote class="card-blockquote bg-white p-2 shadow">
                  <img
                    class="img-fluid bg-image hover-overlay ripple shadow-1-strong rounded"
                    src="{{ d.imageUrl }}"
                    style="height: 250px; width: 100%; text-align: center"
                    alt=""
                  />
                  <p
                    class="ml-5 mt-2 mb-2 font-italic"
                    style="width: 20rem; text-align: justify"
                  >
                    {{ d.description }}
                    <br />
                    <a
                      href="{{ d.newsUrl }}"
                      class="text-info"
                      style="width: 20rem; text-align: center"
                      >@Click here to visit the article</a
                    >."
                  </p>
                </blockquote>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
