<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">
  
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>

<app-admin-nav-bar></app-admin-nav-bar>

<div style="margin-bottom: 5%;" class="d-flex justify-content-center">
  {{messages}}
</div>
<div class="container row mx-auto justify-content-center">
  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
    <thead class="table table-dark table-bordered">
      <tr>
        <th class="th-sm">Title</th>
        <th class="th-sm">Description</th>
        <th class="th-sm">Published At</th>
        <th class="th-sm">Edit/Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let news of newsList; index as i">
        <td>{{ news.title }}</td>
        <td>{{ news.description }}</td>
        <td>{{ news.publishedAt }}</td>
        <td>
          <button
            (click)="edit(i)"
            class="btn btn-outline-secondary"
            style="margin-right: 10 px"
          >
            Edit
          </button>
          <button class="btn btn-outline-danger" (click)="delete(i)" >
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
